{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="">Rec sys</a></h1>
        </div>

        <div>
            <a>
                <img src="https://s3.us-east-2.amazonaws.com/seungjae/hyesu.jpg" style="height: 100%; width: 100%; object-fit: contain"/>
                <img src="https://s3.us-east-2.amazonaws.com/seungjae/hyesu2.jpg"/>
                <img src="https://s3.us-east-2.amazonaws.com/seungjae/hyesu3.jpg"/>
                <img src="https://s3.us-east-2.amazonaws.com/seungjae/hyesu4.jpg"/>
                <img src="https://s3.us-east-2.amazonaws.com/seungjae/hyesu5.jpg"/>
                <img src="https://s3.us-east-2.amazonaws.com/seungjae/hyesu6.jpg"/>
            </a>
        </div>
    </body>
</html>